<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <title>Document</title>
</head>

<body>
    {% block footer %}
    <h4> Selamat Datang! {{name}}</h4>
    <h4>Ini template</h4>
    <h4 class="h4-static">ini style css dengan static</h4>
    <a class="btn btn-primary">Button</a>
    <h2>Id kamu {{id}}</h2>

    <ul>
        {% for key, value in data.items() %}
        <li>{{key}} : {{value}}</li><br>
        {% endfor %}
    </ul>
    {% endblock %}
</body>

</html>